
.header-ad-img{
  height: 65px;
  width: 1300px
}

.header-ad{
  display: flex;
  justify-content: center;
  object-fit: cover;
  
}

.search-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  padding-right: 28.67px;
  flex-wrap: nowrap;
  align-items:  flex-end;
  cursor: pointer;
  text-decoration: none;
}

.info-ul{
  display: flex;
  flex-direction: row;
  gap: 30.07px;
  
}

.info-ul li a{
  color: rgb(159, 159, 159);
  font-family: Source Sans Pro;
  font-size: 12px;
  bottom: 0;
  right: 0;
  gap: 30.07px;
  display: flex;
  text-decoration: none;
  line-height: 15px;
}

.info-ul li a:hover{
  color: grey;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

.info-wrapper{
  justify-content: flex-end;
  position: relative;
  
}

.search-div{
  display: flex;
  flex-direction: row;
  gap: 78px;
  
}

.header-buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

}

.trendyol-logo{
  margin: 0px;
  position: absolute;
  left: 28.67px;
}

.search-textbox{
  border: none;
  position: relative;
  width: 600px;
  height: 50px;
}

input[type=textbox]:focus {
  border-color: orange;
  border-style: solid;
  border-width: 3px;
  outline: none;
  border-radius: 6px;

}

.searchbox::placeholder{
  font-family: Source Sans Pro,Arial;
}

.searchbox{
  width: 539px;
  height: 18.67px;
  padding: 12px 42px 12px 17px;
  border: none;
  border-radius: 6px;
  background-color: #F3F3F3;
  margin: 0;
}

.search{
  display: flex;
  
}

.search-textbox button{
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  background: transparent;
  border: none;
  font-size: 20px;
}

.header-buttons{
  gap: 20px;
  color: #333;
  align-items: center;;
}


.bottom-border{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(224, 224, 224);
  padding-bottom: 10px;
  margin-bottom: 16.4px;
}

.search-nav a{
  padding-left: 15px;
  padding-right: 15px;
  font-family:  Source Sans Pro,Arial;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.18px;
  
}

.search-nav a:hover{
  color: orange;
}

.new,
.yeni{
  font-family: Source sans pro,Arial;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 700;
  padding: 4px;
  font-size: 10px;
  
}

.new:hover,
.yeni:hover{
  background-color: orange;
  color: white;
}

.sepet-div:hover,
.favorilerim-div:hover,
.giris-div:hover{
   color: orange;
}

.search-nav a{
  position: relative;
}

.search-nav a::before{
  content:'';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: orange;
  margin-top: 10px;
}

.search-nav a:hover::before{
  width: 100%;
}

.brands-container{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 20px 12.5px 25px 12.5px;
  margin-left: 0;
  margin-right: 0;
  white-space: nowrap;
  flex-grow: none;
}

.brands-container::-webkit-scrollbar{
  display: none;
}

.image-container{
  margin-bottom: 9.34px;
  position: relative;
  border-radius: 34px;
  width: 68px;
  height: 68px;
  cursor: pointer;
}

.image-container:hover{
  border-style: solid;
  border-width: 1.5px;
  border-color: orange;
  border-radius: 34px;
  width: 68px;
  height: 68px;
  
}

.brand-div:hover .text-container{
  color: orange;
}


.brand-div{
  width: 120px;
  height: 120px;
  padding: 0px 20.5px 0.66px 20.5px;
  margin-right: 7px;

}

.text-container{
  color: #333;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

}


.sana-ozel-photo{
  width: 68px;
  height: 68px;
  border-radius: 34px;
  width: 68px;
  height: 68px;
}

.button-container{
  display: flex;
  flex-direction: row;
  padding: 0px 12.5px 25px 12.5px;
}

.en-cok-eklenenler,
.one-cikanlar,
.flas-urunler{
  width: 406.67px;
  height: 76.98px;
  padding: 0px 20px 19.54px 0px;
}

.sepete-en-cok-eklenenler,
.en-cok-one-cikanlar,
.flas-urunler-image{
  width: 386.67px;
  height: 57.88px;
  cursor: pointer;

}

.woman-ad{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 25px;
  column-gap: 25px;
}

.woman-ad-div{
  border: none;
  position: relative;
  width: 383.29px;
}
 
.woman-image{
  width: 383.29px;
  height: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0;
}

.woman-image:hover{
  transform: scale(1.015);
  transition: 1s;
}

.woman-ad-overlay{
  overflow: hidden;
}

.woman-ad-div:hover .ad-overlay{
  background-color: orange;
}

.ad-overlay{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;;
  margin-top: -5px;
}

.secimler{
  margin-left: 15px;
}

.bestseller-scroll{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 10px;
}

.bestseller-scroll::-webkit-scrollbar{
  display: none;
}

.bestseller-container{
  width: 240px;
  height: 377px;
  position: relative;
  margin-left: 20px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.11);
  padding: 5px;


}

.bestseller-text-div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.bestseller-div{
  margin-top: 20px;
  background: #FFFAF6;
  display: flex;
  flex-direction: column;
  padding: 20px 20.67px 20.66px 20.66px;
  border-radius: 6px;
  border: 1px solid #F2E5DA;
}

.product-image{
  height: 215px;
  width: 222.67px;
  
}

.product-image-div{
  overflow: hidden;
}

.product-image:hover{
  transform: scale(1.035);
  transition: 1s;
}

.product-header-div{
  display: flex;
  line-height: 20px;
  margin-bottom: 20px;

}

.rise-text{
  color: black;
  font-family: source sans pro,Arial;
}

.antiperspirant-text{
  margin-left: 2px;
  color: grey;

}

.best-price{
  margin-bottom: 18px;
}

.price-text{
  font-weight: 700;
}

.best-price,
.price-text{
  color: #B00;

}

.bestseller-image{
  width: 53.96px;
  height: 53.96px;
  position: absolute;
  top: 10%;
  z-index: 2;
}


      /* heart checkbox */

.parent-container{
  position: absolute;
  top: -3%;
  right: 10%;
  background-color: white;
  height: 38px;
  width: 38px;
  border: none;
  border-radius: 19px;
  box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.11);
  z-index: 2;
}

.heart-checkbox-container{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

}

input[type="checkbox"]{
  height: 13px;
  width: 13px;
  -webkit-appearance: none;
  background-color: rgb(255, 255, 255);
  position: relative;
  outline: none;
  transform: rotate(45deg);
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  z-index: 1;
}

input[type="checkbox"]:before{
  position: absolute;
  content: "";
  background-color: white;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  height: 60%;
  width: 100%;
  top: -70%;
  border-radius: 50px 50px 0 0;
  right: -27%;
}

input[type="checkbox"]:after{
  position: absolute;
  background-color: white;
  content: "";
  height: 60%;
  width: 88%;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-radius: 40px 40px 0 0;
  transform: rotate(-90deg);
  top: 17%;
  right: 63%;

}

input:checked[type="checkbox"]:after,
input:checked[type="checkbox"]:before,
input[type="checkbox"]:checked{
  background-color: red;

}